.timer-clock {
    background: #222;
    border-radius: 3px;
    padding: 1em;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: white;
    max-width: 200px;
    margin: 1em auto;
    text-align: center;
}